.container {
  position: relative;
  text-align: center;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #6B8E23;
  width: 180px;
  height: 75px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #6B8E23;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #fff;
  color: #6B8E23;
}
#star{
	margin-top: 18px;
	text-decoration: underline;
    font-style: sans-serif;
    color: white;
}
p{
  align: auto;
	size: 1;
	color: #6B8E23;
}
h2{
    color: #6B8E23;
}
h1, h2, h3{
	color: #6B8E23;
}
.grid{
	height: 50%;
	width: 50%;
	float: left;
	border-bottom: 5px double #6B8E23;
}